h2 {
  text-align: center; /* Center-align the header */
  margin-top: 30px;
  margin-bottom: 20px; /* Add spacing below the header */
}

.geo-chart-container {
  width: 100%;
  justify-content: center; /* Center-align the GeoChart */
  overflow: visible; /* Prevent GeoChart from being clipped */
  margin-bottom: 10px; /* Space between GeoChart and LineChart */
}

.chart-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  min-height: 300px;
}

.line-chart-container {
  flex: 1;
  margin-right: 10px;
}

.raising-bar-chart-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}